.kit-autocomplete-options {
  flex: 1;
  background: var(--kit-background);
  border: 2px solid var(--kit-shade-2);
  box-shadow: var(--kit-shadow);
  border-radius: var(--kit-radius);
  transition: var(--kit-transition);
  padding: 0.5rem;
}

.kit-ac-dropdown {
  transition: var(--kit-transition);
}
.kit-ac-dropdown-inactive {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.8);
}

.kit-ac-option {
  padding: 0.25rem;
  transition: var(--kit-transition);
  cursor: pointer;
  border-radius: var(--kit-radius);
}
.kit-ac-selected,
.kit-ac-option:hover,
.kit-ac-option:focus {
  outline: none;
  background-color: var(--kit-shade-2);
}
