.kit-bottom-sheet {
  position: fixed;
  z-index: var(--kit-z-index-major);
  transition: var(--kit-transition);
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: var(--kit-shadow);
  border-top-left-radius: var(--kit-sheet-radius, 15px);
  border-top-right-radius: var(--kit-sheet-radius, 15px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--kit-shade-1);
}

.kit-bottom-sheet-active {
  transform: translate(0);
}

.kit-bottom-sheet-inactive {
  transform: translateY(110%);
  pointer-events: none;
}
