.kit-grid {
  display: grid;
}
.kit-flex {
  display: flex;
}
.kit-inline-flex {
  display: inline-flex;
}
.kit-block {
  display: inline;
}

.kit-inline-block {
  display: inline-block;
}
.kit-inline {
  display: inline;
}

.kit-none {
  display: none;
}
.kit-absolute {
  position: absolute;
}
.kit-relative {
  position: relative;
}
.kit-fixed {
  position: fixed;
}
.kit-sticky {
  position: sticky;
}

.kit-container {
  border-radius: var(--kit-radius);
  justify-content: var(--kit-justify-content);
  flex-direction: var(--kit-flex-direction);
  align-items: var(--kit-align-items);
  flex: var(--kit-flex);
}
